.btn-tab {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(90deg, #ed8a43, #ffbb00);
  cursor: pointer;
  font-size: 14px;
  margin-left: 0px;
}
.btn-tab:hover, .btn-tab.active {
  background: white;
  color: #ff914d;
  box-shadow: 0 4px 12px rgba(255, 106, 0, 0.4);
  border-bottom: 2px solid #ff914d
}