/* Appointment.css */
.form-appointment {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ff914d;
  box-shadow: 0 4px 12px rgba(255, 145, 77, 0.3);
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: sans-serif;
  width: 600px;
  margin: auto;
  height: fit-content;
}
form .row-1{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
form .row-1 .column-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form label {
  font-size: 14px;
  font-weight: 600;
}

form input,
form select,
form textarea {
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: 0.2s;
}

form input:focus,
form select:focus,
form textarea:focus {
  border-color: #ff914d;
}

textarea {
  min-height: 80px;
  resize: vertical;
}

.btn-appointment {
  padding: 10px;
  background: linear-gradient(90deg, #ed8a43, #ffbb00);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 !important;
}

.btn-appointment:hover {
  background: #3b74d9;
}

.btn-appointment:active {
  transform: scale(0.97);
}
