.pet-sidebar {
  position: absolute;
  width: 100vw;
  height: 150%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 10px;
}

.pet-form {
  position: absolute;
  top: 10px;
  left: 50%;
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column; 
  gap:8px ;
  background: #fff;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  animation: zoomIn 0.5s ease-out;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.pet-form h3 {
  text-align: center;
  margin-bottom: 6px;
}
.pet-form h3::after {
  content: '';
  position: absolute;
  bottom: 520px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 4px;
  background: linear-gradient(90deg, #ff974d, #ffb77f);
  border-radius: 3px;
}

.pet-form .pet-form-label {
    font-size: 13px;
}
.pet-form .pet-form-input,
.pet-form .pet-form-select,
.pet-form .pet-form-textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 12px;
}

.pet-form textarea {
  resize: vertical;
}

.pet-form button {
  padding: 6px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 12px;
}
.pet-form-input:focus,
.pet-form-select:focus,
.pet-form-textarea:focus {
  outline: none;
  border-color: #ff6a00;
  background: white;
  box-shadow: 0 0 0 3px rgba(255, 106, 0, 0.18);
  transform: translateY(-1px);
}
.save-btn {
  background-color: #0f76e5;
}
.save-btn:hover {
  background-color: #003d80;
}
.cancel-btn {
  background-color: #f44336;
}
.cancel-btn:hover {
  background-color: #b52222;
}

.pet-form .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.pet-form .cloumn{
  display: flex;
  flex-direction: column;
}

